/* NavBar */
.navbar-nav-a {
  font-size: 18px;
}

.sticky-header {
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.card {
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.search {
  border: 2px solid black;
  border-radius: 50px;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  color: black;
  text-align: center;
  margin-top: 5px;
  margin-left: 15px;
}

.modal-backdrop.show {
  position: inherit!important;
}
